#cinza {
background-color: rgb(172, 171, 171);
}

#verde {
    background-color: rgb(126, 177, 126);
    color: rgb(2, 78, 2);
}

#amarelo {
    background-color: rgb(207, 207, 126);
    color: rgb(107, 107, 2);
}